<div class="searchBar" [ngClass]="isDarkMode ? 'bg-dark' : 'bg-light'">
  <div class="d-flex container-fluid" style="gap: 24px">
    <img src="/assets/images/loopa.svg" alt="" />
    <p *ngIf="message">No Results</p>

    <input
      class="container-fluid"
      [ngClass]="isDarkMode ? 'bg-dark' : 'bg-light'"
      type="text"
      placeholder="Search GitHub username…"
      #newSearch
      (keyup.Enter)="search(newSearch.value)"
    />
  </div>
  <button type="button" (click)="search(newSearch.value)">Search</button>
</div>

<!-- [(ngModel)]="userName" -->
