.d-flex {
  display: flex;
}

button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #0079ff;
  border: none;
  width: 106px;
  height: 50px;
  cursor: pointer;
}
p {
  color: #f74646;
  font-family: Space Mono;
  position: absolute;
  right: 140px;
  top: 28px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchBar {
  position: relative;
  margin-top: 36px;
  padding-left: 32px;
  padding-right: 10px;
  width: 730px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  display: block;
  outline: none;
  border: none;
  color: #4b6a9b;
  background-color: #fefefe;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
