<div class="d-flex hed" style="width: 730px">
  <img
    [src]="
      isDarkMode
        ? '/assets/images/devfinder-dark.svg'
        : '/assets/images/devfinder.svg'
    "
    alt=""
  />
  <div style="align-items: center; flex-direction: row; display: flex">
    <h4>DARK</h4>
    <div>
      <img
        (click)="switchTheme()"
        class="pe-auto"
        style="cursor: pointer"
        [src]="isDarkMode ? sunImg : moonImg"
        alt=""
      />
    </div>
  </div>
</div>

<app-searchbar [message]="errorMsg" [isDarkMode]="isDarkMode"></app-searchbar>
